$color: #123;

html {
  font-size: 20px;
  font-family: Monaco, monospace;
  background-color: peachpuff;
  min-height: 100vh;
  color: $color;
}

a {
  color: $color;
  text-decoration: none;
  border-bottom: 2px solid $color;
}
